html, body{
    padding: 20;
    box-sizing: border-box;
    margin: 0;
}

/* Adicione estilos para justificar o texto e recuo de parágrafo */
.paragrafo {
  text-align: justify;
  text-justify: inter-word; /* Melhora a justificação em alguns navegadores */
  margin-bottom: 1em; /* Adiciona recuo de parágrafo */
}

/* Adicione o seguinte código para o efeito de hover */
.navbar-nav a {
    position: relative;
    text-decoration: none;
    color: #343a40; /* cor do texto padrão */
    transition: color 0.3s ease;
  }

  .navbar-nav a:hover::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f18a0e; /* cor laranja */
  }

  .navbar-nav a:hover {
    color: #f18a0e; /* cor laranja no hover */
  }
  
#logo{
    width: 200px;
    border-radius: 8px;
}

#container-card, #video{
    margin: 20px auto;
}

footer{
background-color: orangered;
}

.navbar {
background-color: #333;
overflow: hidden;
position: sticky;
top: 0;
z-index: 100;
}

#leiamais{
margin: 20px auto;
}


#icon {
display: inline-block;


}

.redes-sociais {
display: inline-block;

margin-left: 10px; /* ajuste a margem conforme necessário */
}

.redes-sociais ul {
list-style: none;
padding: 0;
margin: 0;
}

.redes-sociais li {
display: inline-block;
margin-right: 5px; /* ajuste a margem conforme necessário */
}

.redes-sociais li a {
color: black; /* altere a cor dos ícones conforme necessário */
text-decoration: none;
 font-size: 18px; /* ajuste o tamanho dos ícones conforme necessário */
}

/* CSS do Footer */
.bg-orange {
  background-color: orangered;
}

.logomarca{
  border-radius: 8px;
  width: 150px;
}

.paragrafo {
  text-align: justify;
  text-justify: inter-word; /* Melhora a justificação em alguns navegadores */
  margin-bottom: 1em; /* Adiciona recuo de parágrafo */
}


/* CSS descrição da Imagem de Evangelização Infantil */
  .image-description {
    font-size: 14px;
    color: #666; /* Cor do texto da descrição */
    text-align: center; /* Ajuste conforme necessário */
    margin-top: 10px; /* Espaçamento superior */
  }

