
html, body{
    box-sizing: border-box;
    margin: 0;
  }
  /* Adicione o seguinte código para o efeito de hover */
  .navbar-nav a {
    position: relative;
    text-decoration: none;
    color: #343a40; /* cor do texto padrão */
    transition: color 0.3s ease;
  }
  
  .navbar-nav a:hover::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f18a0e; /* cor laranja */
  }
  
  .navbar-nav a:hover {
    color: #f18a0e; /* cor laranja no hover */
  }
  #logo{
    width: 200px;
    border-radius: 8px;
  }
  
  #container-card, #sobre{
    margin: 20px auto;
  }
  
  
  
  
  
  .message {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  display: flex;
  align-items: flex-start;
  border: 1px solid orangered;
  }
  
  
  
  .message .photo-container {
  margin-right: 10px;
  }
  
  .message .photo-container img {
  width: 200px;
  height: auto;
  border-radius: 4px;
  }
  
  .message .content {
  flex: 1;
  }
  
  .message .author {
  font-weight: bold;
  color: #333;
  }
  
  .message .timestamp {
  font-size: 0.8em;
  color: #888;
  }
  
  .message .content p {
  margin-bottom: 0;
  }
  
  
  .navbar {
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 100;
  }
  
  
  
  
  /* CSS do Footer */
  .bg-orange {
  background-color: orangered;
  }
  
  .logomarca{
  border-radius: 8px;
  width: 150px;
  }
  
  .paragrafo {
  text-align: justify;
  text-justify: inter-word; /* Melhora a justificação em alguns navegadores */
  margin-bottom: 1em; /* Adiciona recuo de parágrafo */
  }
  /* Adicione o seguinte código para o efeito de hover */
  
  
  /* Teste */
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .photo-container {
    display: flex;
  }
  
  .photo-container img {
    width: 200px; /* Defina o tamanho desejado para as imagens */
    height: 200px; /* Defina o tamanho desejado para as imagens */
    margin-right: 10px;
  }
  
  .content {
    flex-grow: 1;
  }
  
  .message-text {
    padding: 10px;
  }
  
  .download-link {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .custom-container {
    margin-top: 50px;
  }



  /* Internal CSS for h1, div, and p */
  .color {
      color: white;
  }

  /* Additional styles as needed */
  /* For example, if you want to style h1 differently */
  h1 {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin: 20px 0;
  }

  /* Add more styles for div and p if necessary */
  .fundo {
      background-color: #343a40;
      border-radius: 65px;
  }

  .formatacao {
      text-align: justify;
      margin-bottom: 10px;
      color: white;
  }
