<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Site Solar de Jesus com Bootstrap/styles/NossosMomentos.css">
    
    <link rel="shortcut icon" href="../images/Favicons/favicon-16x16.png" type="image/x-icon">
    <!-- magnific-popup css cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="../css/Doações.css">
    <meta name="description" content="Instituição Espírita de Caridade Solar de Jesus oferece trabalhos de caridade espírita em Montes Claros, MG. Conheça nossos trabalhos, palestras, faça doações e mais.">
    <meta name="keywords" content="Caridade, Espiritismo, Jesus, Deus, Cristo">
  <title>Doações</title>
  
</head>
<body>

 <!-- Navbar -->
     
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img id="logo" src="../images/Logomarca/Logomarca.jpg" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-dark" aria-current="page" href="../index.html">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="../views/Nossa História.html">Nossa História</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link text-dark" href="Trabalhadores.html">Trabalhadores</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link text-dark" href="../views/Galeria.html">Galeria</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-dark" href="../views/Nossos Momentos.html">Nossos Momentos</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link text-dark" href="../views/Nossos Trabalhos.html">Nossos Trabalhos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="../views/Livro de Orações.html">Livro De Orações</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="../views/Tranmissões Online.html">Transmissão Online</a>
          </li>

          <li><a class="nav-link text-dark" href="../views/Obras Básicas.html">Obras Básicas</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link text-dark">Doação</a>
          </li> -->

          <li class="nav-item text-dark">
            <a class="nav-link text-dark" href="../views/Artigos Espíritas.html">Artigos Espíritas</a>
          </li>

          
          <li class="nav-item">
            <a class="nav-link text-dark" href="./Doações.html">Doações</a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link text-dark" href="contato.html">Contato</a>
          </li> -->
        </ul>
    </div>
  </nav>  

<!-- Fim -->

<!-- Sessão Doações -->
<div class="container">
  <div class="row">
    <div class="col-md-4 donation-section">
      <img src="../images/Doação/WhatsApp Image 2024-01-13 at 07.23.20.jpeg" alt="Imagem 1" class="img-fluid">
      <h2>Bazar Solidário</h2>
      <p>
        O Bazar Solidário da Instituição Espírita de Caridade Solar de Jesus é um evento encantador que une a magia das compras a uma nobre causa. Em um ambiente acolhedor e cheio de amor, este bazar oferece uma variedade de produtos cuidadosamente selecionados, desde roupas e calçados. Ao participar desse bazar, cada pessoa se torna parte de uma corrente de amor que ilumina vidas e transforma comunidades.
      </p>
      <!-- <a href="#" class="btn btn-primary">Doar para Causa 1</a> -->
    </div>

    <div class="col-md-4 donation-section">
      <img src="../images/Doação/Story Instagram Aceitamos Pix Minimalista Azul e Branco.png" alt="Imagem 2" class="img-fluid">
      <h2>Solar de Jesus</h2>
      <p>A Instituição Espírita de Caridade Solar de Jesus opera um sistema transparente e eficiente para distribuição de recursos. As doações financeiras destinadas às campanhas de bazar, assistência social, oficina de costura, trabalhadores da última hora e manutenção da instituição são gerenciadas de forma organizada. O dinheiro é alocado de maneira equitativa, cobrindo despesas como prédio e limpeza, energia, água e esgoto e repasse de doações. A instituição prioriza a sustentabilidade e ações beneficentes, assegurando que cada contribuição seja utilizada de maneira responsável para o bem-estar da comunidade atendida.
        
      </p>
      <!-- <a href="#" class="btn btn-primary">Doar para Causa 2</a> -->
    </div>

    <div class="col-md-4 donation-section">
      <img src="../images/Doação/Instagram Story Dia do trabalhador.png" alt="Imagem 3" class="img-fluid">
      <h2>Trabalhadores da Última Hora</h2>
      <p>
        O Grupo Trabalhadores da Última Hora é a mão estendida da Instituição Espírita de Caridade Solar de Jesus para aqueles que mais necessitam. Dedicados a oferecer auxílio imediato e acolhimento aos moradores de rua e às pessoas em fila de espera nos hospitais, esses voluntários são verdadeiros anjos que atuam nos momentos mais cruciais.
      </p>
      <!-- <a href="#" class="btn btn-primary">Doar para Causa 3</a> -->
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-4 donation-section">
      <!-- <img src="Doação/" alt="Imagem 1" class="img-fluid">
      <h2>Bazar Solidário</h2>
      <p>
        O Bazar Solidário da Instituição Espírita de Caridade Solar de Jesus é um evento encantador que une a magia das compras a uma nobre causa. Em um ambiente acolhedor e cheio de amor, este bazar oferece uma variedade de produtos cuidadosamente selecionados, desde roupas e calçados. Ao participar desse bazar, cada pessoa se torna parte de uma corrente de amor que ilumina vidas e transforma comunidades.
      </p>
      <a href="#" class="btn btn-primary">Doar para Causa 1</a> -->
    </div>

    <div class="col-md-4 donation-section">
      <img src="Doação/Story Instagram Aceitamos Pix Minimalista Azul e Branco.png" alt="" class="img-fluid">
      <!-- <h2>Doação para Causa 5</h2>
      <p>
        Descrição da causa 5 e instruções de doação.
      </p>
      <a href="#" class="btn btn-primary">Doar para Causa 2</a> -->
    </div>

    <!-- <div class="col-md-4 donation-section">
      <img src="Doação/" alt="Imagem 3" class="img-fluid">
      <h2>Doação para Causa 3</h2>
      <p>
        Descrição da causa 3 e instruções de doação.
      </p>
      <a href="#" class="btn btn-primary">Doar para Causa 3</a> -->
    </div>
  </div>
</div>






<div class="container">
  <div class="row">
    <div class="col-md-4 donation-section">
      <img src="../images/Doação/1.png" alt="Imagem 1" class="img-fluid">
      <h2> Assistência Social</h2>
      <p>
        A Assistência Social da Instituição Espírita de Caridade Solar de Jesus é um elo de amor e solidariedade, dedicado a transformar vidas por meio de ações concretas e acolhedoras. Com base nos princípios espíritas, nossa equipe comprometida trabalha incansavelmente para oferecer apoio integral a indivíduos em situação de vulnerabilidade, promovendo dignidade, inclusão e bem-estar. Buscamos não apenas suprir necessidades básicas, mas também inspirar esperança e promover o desenvolvimento pessoal, visando a construção de uma sociedade mais justa e fraterna. Juntos, iluminamos caminhos e cultivamos o amor ao próximo, guiados pela luz do entendimento e compaixão.
      </p>
      <!-- <a href="#" class="btn btn-primary">Doar para Causa 1</a> -->
    </div>

    <div class="col-md-4 donation-section">
      <img src="../images/Doação/2.png" alt="Imagem 2" class="img-fluid">
      <!-- <h2>Doação para Causa 5</h2>
      <p>
        Descrição da causa 5 e instruções de doação.
      </p>
      <a href="#" class="btn btn-primary">Doar para Causa 2</a> -->

      <h2>Solar de Jesus</h2>
      <p>
        
      </p>
    </div>

    <div class="col-md-4 donation-section">
      <img src="../images/Doação/Convite virtual chá de bebê.png" alt="" class="img-fluid">
      <!-- <h2>Doação para Causa 3</h2>
      <p>
        Descrição da causa 3 e instruções de doação.
      </p>
      <a href="#" class="btn btn-primary">Doar para Causa 3</a> -->
      <h2>Enxovais de Bebê</h2>
      <p>
        O Grupo Voluntários da Alegria, vinculado à Instituição Espírita de Caridade Solar de Jesus, é uma equipe dedicada e apaixonada que costura enxovais de bebê para recém-nascidos em situações de necessidade. Com amor e habilidade, esses voluntários transformam tecidos em verdadeiras obras de carinho, proporcionando não apenas itens essenciais, mas também um toque especial de carinho e esperança para as famílias beneficiadas.
      </p>
    </div>
  </div>
</div>
<!-- Footer -->

<footer class="bg-orange text-light p-4">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h4>Informações de Contato</h4>
              <p class="paragrafo mb-0">2024 ©Instituição Espírita de Caridade Solar de Jesus. Todos os direitos reservados.</p>
              <p class="paragrafo mb-0">Email: instituicaoespiritasolardejesus@gmail.com</p>
              <p class="paragrafo mb-0">Telefone: (38) 3214-2878</p>
              <p class="paragrafo mb-0">Alfredo Lorenço: (38) 99979-9996 </p>
              <p class="paragrafo mb-0">Cláudio Mendes: (38) 99166-0454</p>
              <p class="paragrafo mb-0">Endereço: Av. Leonel Beirão de Jesus, 1555, Bairro: Sumaré</p>
              <p class="paragrafo mb-0">CEP: 39402-547 - Montes Claros - Minas Gerais/BR</p>
              <p class="paragrafo mb-0">CPNJ 21.355.599/0001-56</p>
          </div>

          <div class="col-md-4">
              <!-- Links Úteis Vazio -->
              <h4></h4>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-light"></a></li>
                  <li><a href="#" class="text-light"></a></li>
                  <li><a href="#" class="text-light"></a></li>
              </ul>
          </div>

          <div class="col-md-4">
              <!-- Conecte-se Conosco -->
              <h4>Conecte-se Conosco</h4>
              <ul class="list-unstyled">
                  <li><a href="https://www.facebook.com/solardejesus" class="text-light">Facebook</a></li>
                  <li><a href="https://www.instagram.com/voluntariasdaalegria1" class="text-light">Instagram</a></li>
              </ul>
              <!-- Espaço para Logomarca -->
              <div class="mt-3">
                  <img src="../images/Footer/Logomarca-Footer.jpg" alt="Logomarca Instituição Espírita de Caridade Solar de Jesus" class="img-fluid  logomarca">
              </div>
          </div>
      </div>
  </div>
</footer>

<!-- Fim - Footer -->



</body>
</html>
