<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/Favicons/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/Nossos Trabalhos.css">
    <meta name="description" content="Instituição Espírita de Caridade Solar de Jesus oferece trabalhos de caridade espírita em Montes Claros, MG. Conheça nossos trabalhos, palestras, faça doações e mais.">
    <meta name="keywords" content="Caridade, Espiritismo, Jesus, Deus, Cristo">
    <title>Nossos Trabalhos | Descrição de Trabalhos Espíritas da Instituição Espírita de Caridade Solar de Jesus</title>
    
    
</head>
<body>
        <!-- Navbar -->


        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img id="logo" src="../images/Logomarca/Logomarca.jpg" alt=""></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active text-dark" aria-current="page" href="../Index.html">Início</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="../views/Nossa História.html">Nossa História</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link text-dark" href="Trabalhadores.html">Trabalhadores</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="../views/Galeria.html">Galeria</a>
                  </li>
        
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="../views/Nossos Momentos.html">Nossos Momentos</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="../views/Nossos Trabalhos.html">Nossos Trabalhos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="../views/Livro de Orações.html">Livro De Orações</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="../views/Tranmissões Online.html">Transmissão Online</a>
                  </li>
        
                  <li><a class="nav-link text-dark" href="../views/Obras Básicas.html">Obras Básicas</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link text-dark">Doação</a>
                  </li> -->
        
                  <li class="nav-item text-dark">
                    <a class="nav-link text-dark" href="../views/Artigos Espíritas.html">Artigos Espíritas</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="./Doações.html">Doações</a>
                  </li>
                  
        
                  <!-- <li class="nav-item">
                    <a class="nav-link text-dark" href="contato.html">Contato</a>
                  </li> -->
                </ul>
            </div>
          </nav>


        <!-- Fim -->



<!--Descrição do Trabalho dos Voluntários da Alegria-->
<div id="sobre" class="block">
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 align-self-center text-center order-md-1 order-2"
      >
        <img src="../images/Nossos Trabalhos/Voluntários da Alegria.jpeg" class="img-fluid" alt="Logomarca do Grupo Voluntários da Alegria do Centro Espírita Solar de Jesus"/>
      </div>
      <div
        class="col-md-6 align-self-center order-md-2 order-1 mb-md-0 mb-4"
      >
        <h2 class="title">Voluntários da Alegria</h2>
        <h4 class="subtitle">
          "Costurando roupinhas, tecendo alegrias: Voluntários da Alegria, Transformando Linhas em Momentos Especiais."
        </h4>
        <p class="paragrafo">
          Na cidade de Montes Claros, MG, onde a luz brilhava intensamente com as cores da alegria, um grupo especial se reunia regularmente, conhecido como os "Voluntários da Alegria". Eles compartilhavam uma paixão comum: a costura. Cada agulha e linha eram como extensões de seus corações generosos e eram manuseadas por mãos dedicadas.
          Um dia, perceberam que mães em desespero sussurravam em seus ouvidos porque seus filhinhos carentes estavam necessitando de roupas novas, e muitos iriam nascer sem roupa alguma. As crianças, com suas histórias únicas e sorrisos radiantes, eram a inspiração perfeita para os Voluntários da Alegria.
          O grupo reuniu-se em sua oficina, no Centro Espírita Solar de Jesus, onde tecidos coloridos e linhas vibrantes enchiam o ambiente de positividade. Cada voluntário escolheu um pedaço de tecido com cuidado, imaginando como poderiam transformá-lo em algo especial. Alguns escolheram padrões brilhantes, enquanto outros optaram por tons suaves, criando uma coleção diversificada, assim como as próprias crianças.
          Enquanto costuravam, compartilhavam histórias e risadas, criando um ambiente repleto de calor humano. As agulhas moviam-se com habilidade, transformando simples pedaços de pano em peças únicas e cheias de carinho.
          Quando as roupas estavam prontas, os Voluntários da Alegria partiram e foram ao encontro daquelas futuras mães e mães que teriam seus filhinhos em condições difíceis em razão da vulnerabilidade econômica e social. As mães foram recebidas com abraços calorosos e alegraram-se com as novas roupas feitas sob medida, seus rostos se iluminaram. Era mais do que vestuário; era uma manifestação tangível do cuidado e da atenção que cada voluntário colocara em cada ponto.
          Os Voluntários da Alegria não apenas costuraram roupas naquela tarde, mas também teceram laços indestrutíveis de amizade e compaixão. O trabalho deles não era apenas sobre criar vestimentas, mas sobre envolver os recém-nascidos em um abraço coletivo de amor e esperança.
          Desde então, os Voluntários da Alegria continuaram a costurar não apenas roupas, mas também histórias de solidariedade e alegria, mostrando que, com um pouco de criatividade e muita dedicação, é possível transformar tecido em tesouros que aquecem corações.
        </p>
        
            
        <figure>
          <iframe width="635" height="315" src="https://www.youtube.com/embed/S_R6P_oWQJk?si=xOTI9HYJ9Q7G4_m6" title="Aprenda a costurar roupas para crianças carentes | Voluntários da Alegria" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <figcaption>Aprenda a costurar roupas para crianças necessitadas - Voluntários da Alegria | Centro Espírita Solar de Jesus</figcaption>
        </figure>
        


        <!-- <a id="leiamais" href="#" class="btn btn-primary button button-primary"
          >Leia mais</a> -->


      </div>
    </div>
  </div>
</div>
<!--//Fim-->
<!--Descrição dos Trabalhos dos Trabalhadores da Última Hora-->
<div id="sobre" class="block">
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 align-self-center text-center order-md-1 order-2"
      >
        <img src="../images/Nossos Trabalhos/2.png" class="img-fluid" alt="Logomarca da Instituição Espírita de Caridade Solar de Jesus - Montes Claros-MG"/>
      </div>
      <div
        class="col-md-6 align-self-center order-md-2 order-1 mb-md-0 mb-4"
      >
        <h2 class="title">Trabalhadores da Última Hora</h2>
        <h4 class="subtitle">
          "Na Jornada Final, Trabalhadores da Luz: Semeando Amor e Esperança, Seguindo os Passos de Jesus." 
        </h4>
        <p class="paragrafo">Em Montes Claros, MG, onde as luzes da esperança brilhavam em cada esquina, um grupo extraordinário chamado "Trabalhadores da Última Hora" dedicava suas horas à nobre missão de servir amor e alimento aos mais necessitados.
        Em noites frias de inverno ou calorosas no verão, eles decidiram levar conforto não apenas aos estômagos vazios, mas também aos corações aflitos. Equipados com cestas repletas de lanches nutritivos e refeições caseiras, os voluntários partiram pelas ruas da cidade em uma humilde Combi.
        Ao longo do caminho, encontraram moradores de rua que, apesar das adversidades, mantinham sorrisos de gratidão. Os Trabalhadores da Última Hora ofereceram-lhes alimentos quentes, cobertores e, o mais importante, uma conexão humana que transcendeu as barreiras da indiferença.
        O grupo estendeu sua generosidade até os hospitais, onde pessoas aguardavam ansiosas por atendimento médico. Em salas de espera movimentadas, os voluntários distribuíram refeições reconfortantes, proporcionando um alívio momentâneo para aqueles que enfrentavam tempos difíceis.
        Entre os voluntários, havia colaboradores com formação profissional das mais diversas áreas, unidos por um propósito comum: ser a luz na escuridão da necessidade. Suas histórias tocantes, orações e palavras encorajadoras acalentavam os corações dos que aguardavam por um alimento.
        Nessas noites memoráveis, sempre encontraram senhoras e homens sozinhos e desamparados. Além de alimentá-los, os Trabalhadores da Última Hora ofereceram-lhes companhia e escutaram suas histórias. A troca de experiências trouxe conforto tanto para os voluntários quanto para os assistidos, provando que o ato de servir vai além da simples alimentação.
        Ao final da noite, os Trabalhadores da Última Hora não apenas alimentaram corpos famintos, mas também alimentaram almas sedentas de compaixão. Seu comprometimento era um testemunho vivo de que, mesmo nas últimas horas do dia, é possível iluminar vidas e espalhar esperança, um lanche de amor servido com um toque de humanidade.</p>
       

        <figure>
          <iframe width="635" height="315" src="https://www.youtube.com/embed/rSwDNNeB9CQ?si=r_VSBE31ePQiTEAK" title="Venha colaborar no trabalho do BEM | Grupo Trabalhadores da Última Hora - Centro Espírita Solar de Jesus" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <figcaption>Venha colaborar no trabalho do BEM - Grupo Trabalhadores da Última Hora - Centro Espírita Solar de Jesus</figcaption>
        </figure>
        
        <!-- <a id="leiamais" href="#" class="btn btn-primary button button-primary"
          >Leia mais</a
        > -->
      </div>
    </div>
  </div>
</div>
<!--Fim-->
<!--Descrição dos Trabalhos Bazar Centro Espírita Solar de Jesus-->
<div id="sobre" class="block">
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 align-self-center text-center order-md-1 order-2"
      >
        <img src="../images/Nossos Trabalhos/Logomarca Redonda - SolarDeJesus.jpg" class="img-fluid"  alt="Logomarca da Instituição Espírita de Caridade Solar de Jesus - Montes Claros-MG"/>
      </div>
      <div
        class="col-md-6 align-self-center order-md-2 order-1 mb-md-0 mb-4"
      >
        <h2 class="title">Bazar Centro Espírita Solar de Jesus</h2>
        <h4 class="subtitle">
          "Brilhe com Solidariedade: Bazar Centro Espírita Solar de Jesus, Onde Cada Compra Ilumina Vidas!" 
        </h4>
        <p class="paragrafo">Havia uma pequena comunidade, abraçada pela fé e pela vontade de fazer o bem. No coração dessa comunidade, erguia-se o Centro Espírita Solar de Jesus, um farol de amor e solidariedade. Um dia, um grupo de voluntários teve uma ideia brilhante para unir esforços e contribuir ainda mais para o bem-estar daqueles que necessitavam.
        Nascia assim o "Bazar Centro Espírita Solar de Jesus". Este lugar especial tornou-se um ponto de encontro para doações generosas de roupas, utensílios domésticos e outros recursos materiais. A comunidade se mobilizou, cada pessoa trazendo um pedacinho de amor consigo.
        O Bazar, com suas prateleiras coloridas e vitrines cheias de histórias, transformou-se em um espaço de partilha. As roupas, antes guardadas nos armários, encontravam novos donos, proporcionando não apenas calor físico, mas também calor humano. Os recursos arrecadados ganhavam vida própria, transformando-se em auxílio material para os que mais necessitavam.
        Cada doação, cada peça de roupa, contava uma história de generosidade. E assim, o Bazar Centro Espírita Solar de Jesus não era apenas um local de transações comerciais, mas um ponto de encontro para corações solidários. As doações não eram simples objetos; eram abraços invisíveis, transmitindo amor e esperança. Ao final de cada jornada no Bazar, os voluntários sorriam sabendo que estavam fazendo a diferença na vida de muitos. O dinheiro arrecadado encontrava seu caminho para auxílio a projetos sociais, apoio a famílias em dificuldade e suporte a causas nobres.
        O Bazar Centro Espírita Solar de Jesus tornou-se um símbolo da capacidade humana de se unir em prol do próximo. Ele não apenas vestia corpos, mas também aquecia almas. Em cada peça doada e em cada compra realizada, ecoava o lema do centro: "Iluminando Vidas, Espalhando Amor."</p>
       

        <figure>
          <iframe width="635" height="315" src="https://www.youtube.com/embed/SN3Do9I_zRw?si=xMrwXIDwZh5jBGFA" title="Bazar da Instituição Espírita de Caridade Solar de Jesus - Montes Claros-MG" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <figcaption>Bazar da Instituição Espírita de Caridade Solar de Jesus - Montes Claros-MG</figcaption>
        </figure>
        
        <!-- <a id="leiamais" href="#" class="btn btn-primary button button-primary"
          >Leia mais</a
        > -->
    

      </div>
    </div>
  </div>
</div>
<!--Fim-->

<!--Descrição do Trabalho da Evangelização Infantil-->
<div id="sobre" class="block">
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 align-self-center text-center order-md-1 order-2"
      >
        <img src="../images/Nossos Trabalhos/Logomarca - Evangelização Infantil.jpeg" class="img-fluid" alt="Logomarca da Evangelização Infantil Centro Espírita Solar de Jesus - Montes Claros-MG" />

        
      </div>
      <div
        class="col-md-6 align-self-center order-md-2 order-1 mb-md-0 mb-4"
      >
        <h2 class="title">Evangelização Infantil</h2>
        <h4 class="subtitle">
          "Plantando Sementes Divinas: Oficina de Amor, Valores e Espiritualidade para Pequenos Corações!" 
        </h4>
        <p class="paragrafo"> A evangelização espírita infantil é um trabalho espiritual que possui uma estrutura de estudo e entendimento das boas práticas, acolhimento e apoio tanto para as crianças como para suas famílias. Esse trabalho ajuda as crianças em sua formação moral através dos ensinamentos de Jesus .
        A Evangelização Infantil auxilia o ser a preparar-se para a vida adulta, para enfrentar os desafios terrenos, cultivando em si a prática de fazer o bem e o desenvolvimento da moral cristã .
        A evangelização espírita infantil é essencial para educar e atribuir valores morais, além de ensinar sobre o espiritismo para crianças. Além de aproximar o indivíduo com Deus, também o conecta consigo mesmo. A evangelização espirita proporciona um ambiente acolhedor e seguro para que as crianças e jovens possam se expressar livremente, compartilhar suas experiências e receber orientação adequada para lidar com as dificuldades da vida.
        É uma oportunidade de aprendizado e crescimento pessoal, que contribui para a formação de indivíduos mais conscientes e responsáveis.</p>
        
        <figure>
          <img src="../images/Nossos Trabalhos/Turma - Evangelização Infantil.jpg" alt="Alunos e Educadora da Evangelização Infantil Centro Espírita Solar de Jesus - Montes Claros-MG" style="max-width: 100%; height: auto; border-radius: 10px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); width: 650px; height: 450px;">
          <figcaption style="text-align: center; font-style: italic; font-size: 14px; color: #666; margin-top: 10px;">Alunos e Educadora da Evangelização Infantil Centro Espírita Solar de Jesus - Montes Claros-MG</figcaption>
        </figure>
        
        <!-- <a id="leiamais" href="#" class="btn btn-primary button button-primary"
          >Leia mais</a
        > -->
      </div>
    </div>
  </div>
</div>
<!--//Fim-->


<!--Descrição e Oração, trabalho da Assitência Social no Natal  -->
<div id="sobre" class="block">
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 align-self-center text-center order-md-1 order-2"
      >
        <img src="../images/Nossos Trabalhos/1.png" class="img-fluid" alt="Logomarca do Centro Espírita Solar de Jesus - Montes Claros-MG"/>
      </div>
      <div
        class="col-md-6 align-self-center order-md-2 order-1 mb-md-0 mb-4"
      >
        <h2 class="title">Assistência Social</h2>
        <h4 class="subtitle">
          A Distribuição de Cestas Básicas Natal 2023 - Centro Espírita Solar de Jesus - Montes Claros - MG
        </h4>
        <p class="paragrafo"> <B>*Oração para quem tem fome no Natal*</B>

          Pai Celestial,
          
          No Natal, celebramos o nascimento de Jesus, o Pão da Vida.
          
          Mas sabemos que, em muitos lugares do mundo, ainda há pessoas que passam fome.
          
          Pedimos-te que olheis para aqueles que sofrem nesta noite santa.
          
          Que lhes envieis o Vosso amor e o Vosso sustento.
          
          Que lhes abris as Vossas portas e lhes mostrais a Vossa misericórdia.
          
          Que lhes dais o pão que alimenta o corpo e a alma.
          
          Que lhes dais a paz e a esperança.
          
          Pedimos-te também que nos ajudeis a sermos mais solidários com os que passam fome.
          
          Que nos inspireis a partilhar o que temos com os que precisam.
          
          Que nos mostreis como podemos fazer a diferença no mundo.
          
          Em nome de Jesus, o Pão da Vida,
          
          Amém!</p>
         
          <figure>
            <iframe width="350" height="622" src="https://www.youtube.com/embed/M5mRcV2fT_8" title="Distribuição de Cestas Básicas Natal 2023 - Centro Espírita Solar de Jesus" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption>Distribuição de Cestas Básicas Natal 2023 - Centro Espírita Solar de Jesus</figcaption>
          </figure>
          

          
        <!-- <a id="leiamais" href="#" class="btn btn-primary button button-primary"
          >Leia mais</a
        > -->
      </div>
    </div>
  </div>
</div>
<!--Fim-->


<!--Descrição Trabalho de Passe Centro Espírita Solar de Jesus-->
<div id="sobre" class="block">
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 align-self-center text-center order-md-1 order-2"
      >

      </div>
      <div
        class="col-md-6 align-self-center order-md-2 order-1 mb-md-0 mb-4"
      >
        <h2 class="title">O Passe Espírita</h2>
        <h4 class="subtitle">
          "Renove suas energias, encontre equilíbrio: o Passe Espírita, um toque de bem-estar para o corpo e a alma."
        </h4>
        <!-- <img src="Passe_espírita.jpg" class="img-fluid" alt="Ilustração do passe Espírita"/> -->
        
        <figure>
          <img src="../images/Nossos Trabalhos/Passe Espírita.jpg" class="img-fluid" alt="Ilustração do passe Espírita"/>
          <figcaption class="image-description">Ilustração do passe Espírita</figcaption>
        </figure>
       
        
         <p class="paragrafo">
          O passe espírita e a água fluidificada é uma prática comum dentro do espiritismo, uma doutrina que tem suas raízes no século XIX. Essa técnica envolve a transmissão de energias fluídicas benéficas por meio das mãos, com o objetivo de promover o equilíbrio energético, físico e espiritual de uma pessoa. Por meio do passe canaliza-se energias positivas, que podem auxiliar na harmonização dos centros de energia do corpo (chakras) e proporcionar bem-estar. O passe espírita é frequentemente realizado em centros espíritas durante reuniões públicas, sendo considerado um recurso terapêutico complementar dentro do contexto da espiritualidade espírita.
         </p>
         <p class="paragrafo">
          <b>**Oração pelos Enfermos**</b>
          
          Deus Pai, Todo-Poderoso,
          
          Vós que sois a fonte da vida e da cura,
          
          olhai com misericórdia para os vossos filhos e filhas que sofrem de enfermidades do corpo e da alma.
          
          Tocai-lhes com a vossa mão poderosa,
          
          e curai-lhes de todas as suas dores e sofrimentos.
          
          Dá-lhes a força para enfrentarem a sua doença,
          
          e a esperança de um dia serem curados.
          
          Envolve-os no vosso amor misericordioso,
          
          e dai-lhes a paz que só Vós podeis dar.
          
          Pedimos por todos os enfermos do mundo,
          
          especialmente por aqueles que estão mais necessitados:
          
          pelos que sofrem de doenças graves,
          
          pelos que estão em fase terminal,
          
          pelos que vivem com dor crônica,
          
          pelos que são discriminados por causa da sua doença,
          
          e pelos que não têm acesso aos cuidados de saúde de que precisam.
          
          Ouvi a nossa súplica,
          
          e dai-lhes a cura que tanto anseiam.
          
          Em nome de Jesus Cristo, Nosso Senhor.
          
          Amém!</p>

        
        <!-- <a id="leiamais" href="#" class="btn btn-primary button button-primary"
          >Leia mais</a
        > -->
      </div>
    </div>
  </div>
</div>
<!--Fim-->
    
  <!-- Footer -->
<!-- Footer -->
<footer class="bg-orange text-light p-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Informações de Contato</h4>
        
        <p class="mb-0">2024 ©Instituição Espírita de Caridade Solar de Jesus. Todos os direitos reservados.</p>
        <p class="mb-0">Email: instituicaoespiritasolardejesus@gmail.com</p>
        <p class="mb-0">Telefone: (38) 3214-2878</p>
        <p class="mb-0">Alfredo Lorenço: (38) 99979-9996 </p>
        <p class="mb-0">Cláudio Mendes: (38) 99166-0454</p>
        <p class="mb-0">Endereço: Av. Leonel Beirão de Jesus, 1555, Bairro: Sumaré</p>
        <p class="mb-0">CEP: 39402-547 - Montes Claros - Minas Gerais/BR</p>
        <p class="mb-0">CPNJ 21.355.599/0001-56</p>
      </div>

      <!-- Links Úteis Vazio -->
      <div class="col-md-4">
        <h4></h4>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light"></a></li>
          <li><a href="#" class="text-light"></a></li>
          <li><a href="#" class="text-light"></a></li>
        </ul>
      </div>
      <!-- Fim -->

      <div class="col-md-4">
        <h4>Conecte-se Conosco</h4>
        <ul class="list-unstyled">
          <li><a href="https://www.facebook.com/solardejesus" class="text-light">Facebook</a></li>
          <!-- <li><a href="#" class="text-light">Twitter</a></li> -->
          <li><a href="https://www.instagram.com/voluntariasdaalegria1" class="text-light">Instagram</a></li>
        </ul>
        <!-- Espaço para Logomarca -->
        <div class="mt-3">
          <img src="../images/Logomarca/Logomarca.jpg" alt="Logomarca Instituição Espírita de Caridade Solar de Jesus" class="img-fluid  logomarca">
        </div>
      </div>
    </div>
  </div>
</footer>



<!-- Fim - Footer -->



  </body>
  </html>
  