<!DOCTYPE html>
<html lang="pt-br">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/Favicons/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/Obras Básicas.css">
    <title>Obras Básicas Do Espiritismo</title>
   
</head>
<body>
    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img id="logo" src="../images/Logomarca/Logomarca.jpg" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active text-dark" aria-current="page" href="../index.html">Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="../views/Nossa História.html">Nossa História</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link text-dark" href="Trabalhadores.html">Trabalhadores</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link text-dark" href="../views/Galeria.html">Galeria</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link text-dark" href="../views/Nossos Momentos.html">Nossos Momentos</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link text-dark" href="../views/Nossos Trabalhos.html">Nossos Trabalhos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="../views/Livro de Orações.html">Livro De Orações</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="../views/Tranmissões Online.html">Transmissão Online</a>
              </li>
    
              <li><a class="nav-link text-dark" href="../views/Obras Básicas.html">Obras Básicas</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link text-dark">Doação</a>
              </li> -->
    
              <li class="nav-item text-dark">
                <a class="nav-link text-dark" href="../views/Artigos Espíritas.html">Artigos Espíritas</a>
              </li>
    
              
              <li class="nav-item">
                <a class="nav-link text-dark" href="./Doações.html">Doações</a>
              </li>
    
              <!-- <li class="nav-item">
                <a class="nav-link text-dark" href="contato.html">Contato</a>
              </li> -->
            </ul>
        </div>
      </nav>
    <!-- Fim -->
    
    <!-- Descrição das Obras Básicas do Espiritismo -->
    <div class="container custom-container fundo" style="background-color: #343a40;">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="text-center color">Obras Básicas do Espiritismo</h1>
          <p class="text-justify formatacao" >
             As obras básicas do espiritismo constituem um conjunto fundamental de textos que servem como alicerce doutrinário para os adeptos dessa filosofia espiritualista...
                              <!-- Seu texto centralizado aqui -->
                  As obras básicas do espiritismo constituem um conjunto fundamental de textos que servem como alicerce doutrinário para os adeptos dessa filosofia espiritualista. Elas foram codificadas por Allan Kardec, pseudônimo do educador e escritor francês Hippolyte Léon Denizard Rivail, no século XIX. Essas obras, compreendendo cinco livros, são consideradas as bases do espiritismo, oferecendo ensinamentos sobre a natureza, origem e destino dos espíritos, assim como a relação entre o mundo material e o espiritual.

                  <b>1. **O Livro dos Espíritos:**</b> Publicado em 1857, é a obra inaugural da codificação. Neste livro, Kardec apresenta uma série de questões aos espíritos por meio de médiuns, explorando temas como Deus, a alma, a reencarnação e a evolução espiritual.

                  <b>2. **O Livro dos Médiuns:**</b> Lançado em 1861, dedica-se ao estudo das manifestações mediúnicas. Kardec explora os diferentes tipos de mediunidade, suas características e os cuidados necessários para a prática mediúnica responsável.

                  <b>3. **O Evangelho Segundo o Espiritismo:**</b> Publicado em 1864, é uma compilação de ensinamentos morais de Jesus à luz do espiritismo. Propõe reflexões sobre temas como caridade, perdão e amor ao próximo, estimulando a prática do Evangelho no cotidiano.

                  <b>4. **O Céu e o Inferno:**</b> Escrito em 1865, aborda a questão da vida após a morte, apresentando uma análise sobre as diferentes situações espirituais vivenciadas pelos espíritos após o desencarne.

                  <b>5. **A Gênese:**</b> Publicado em 1868, explora a origem do planeta Terra e dos seres vivos à luz da doutrina espírita. Kardec aborda temas como a pluralidade dos mundos habitados, a criação e a influência dos espíritos na evolução da humanidade.

                  Essas obras, ao serem estudadas de forma conjunta, proporcionam uma compreensão abrangente dos princípios espiritas. Elas estimulam o desenvolvimento moral e intelectual dos praticantes, além de fornecerem orientações para uma vida mais plena, baseada na fraternidade, solidariedade e no aprimoramento espiritual.
          </p>
          <!-- Fim -->

          <!-- Description of the Basic Works of Spiritism -->
          <h1 class="text-center color">Basic Works of Spiritism</h1>
           <p class="text-justify formatacao">
              The basic works of spiritualism constitute a fundamental set of texts that serve as a doctrinal foundation for followers of this spiritualist philosophy...
                        <!-- Your text centered here -->
                   The basic works of spiritualism constitute a fundamental set of texts that serve as a doctrinal foundation for followers of this spiritualist philosophy. They were codified by Allan Kardec, pseudonym of the French educator and writer Hippolyte Léon Denizard Rivail, in the 19th century. These works, comprising five books, are considered the foundations of spiritualism, offering teachings on the nature, origin and destiny of spirits, as well as the relationship between the material and spiritual world.

                   <b>1. **The Spirits' Book:**</b> Published in 1857, it is the inaugural work of codification. In this book, Kardec presents a series of questions to spirits through mediums, exploring themes such as God, the soul, reincarnation and spiritual evolution.

                   <b>2. **The Book of Mediums:**</b> Launched in 1861, it is dedicated to the study of mediumistic manifestations. Kardec explores the different types of mediumship, their characteristics and the care necessary for responsible mediumistic practice.

                   <b>3. **The Gospel According to Spiritism:**</b> Published in 1864, it is a compilation of Jesus' moral teachings in the light of spiritualism. It proposes reflections on topics such as charity, forgiveness and love for others, encouraging the practice of the Gospel in everyday life.

                   <b>4. **Heaven and Hell:**</b> Written in 1865, it addresses the issue of life after death, presenting an analysis of the different spiritual situations experienced by spirits after disembodiment.

                   <b>5. **The Genesis:**</b> Published in 1868, it explores the origin of planet Earth and living beings in the light of spiritist doctrine. Kardec addresses topics such as the plurality of inhabited worlds, creation and the influence of spirits on the evolution of humanity.

                   These works, when studied together, provide a comprehensive understanding of spiritual principles. They stimulate the moral and intellectual development of practitioners, in addition to providing guidance for a fuller life, based on fraternity, solidarity and spiritual improvement.
           </p>
          
           <!-- Descripción de las Obras Básicas del Espiritismo -->
           <h1 class="text-center color">Obras Básicas del Espiritismo</h1>
           <p class="justificar-texto formatacao">
              ... Las obras básicas del espiritismo constituyen un conjunto fundamental de textos que sirven de fundamento doctrinal a los seguidores de esta filosofía espiritista...
                               <!-- Tu texto centrado aquí -->
                   Las obras básicas del espiritismo constituyen un conjunto fundamental de textos que sirven de fundamento doctrinal a los seguidores de esta filosofía espiritista. Fueron codificados por Allan Kardec, seudónimo del educador y escritor francés Hippolyte Léon Denizard Rivail, en el siglo XIX. Estas obras, compuestas por cinco libros, son consideradas los fundamentos del espiritismo, ofreciendo enseñanzas sobre la naturaleza, origen y destino de los espíritus, así como la relación entre el mundo material y espiritual.

                   <b>1. **El Libro de los Espíritus:**</b> Publicado en 1857, es la obra inaugural de codificación. En este libro, Kardec presenta una serie de preguntas a los espíritus a través de médiums, explorando temas como Dios, el alma, la reencarnación y la evolución espiritual.

                   <b>2. **El Libro de los Médiums:**</b> Lanzado en 1861, está dedicado al estudio de las manifestaciones mediúmnicas. Kardec explora los diferentes tipos de mediumnidad, sus características y los cuidados necesarios para una práctica mediúmnica responsable.

                   <b>3. **El Evangelio según el Espiritismo:**</b> Publicado en 1864, es una recopilación de las enseñanzas morales de Jesús a la luz del espiritismo. Propone reflexiones sobre temas como la caridad, el perdón y el amor al prójimo, fomentando la práctica del Evangelio en la vida cotidiana.

                   <b>4. **Cielo e Infierno:**</b> Escrito en 1865, aborda el tema de la vida después de la muerte, presentando un análisis de las diferentes situaciones espirituales que viven los espíritus después de la desencarnación.

                   <b>5. **El Génesis:**</b> Publicado en 1868, explora el origen del planeta Tierra y de los seres vivos a la luz de la doctrina espírita. Kardec aborda temas como la pluralidad de mundos habitados, la creación y la influencia de los espíritus en la evolución de la humanidad.

                   Estas obras, cuando se estudian juntas, proporcionan una comprensión integral de los principios espirituales. Estimulan el desarrollo moral e intelectual de los practicantes, además de brindar orientación para una vida más plena, basada en la fraternidad, la solidaridad y la superación espiritual.
           </p>
        </div>
      </div>
    </div>
        <!-- Fim -->


<!-- O Evangelho Segundo o Espiritismo -->
<h1 class="text-center">O Evangelho Segundo o Espiritismo</h1>
<div class="container">
  <div class="message">
    <div class="photo-container">
      <img src="../images/Obras Básicas/O Evangelho Segundo o Espiritismo/O Evangelho Segundo o Espiritismo -Português.png" alt="Capa do Livro o Evangelho Segundo o Espiritismo - Português.jpg">
      <img src="../images/Obras Básicas/O Evangelho Segundo o Espiritismo/O Evangelho Segundo o Espiritismo -Inglês.png" alt="Cover of the book The Gospel According to Spiritism - English">
      <img src="../images/Obras Básicas/O Evangelho Segundo o Espiritismo/O Evangelho Segundo o Espiritismo -Espanhol.png" alt="Portada del libro El Evangelio según el Espiritismo">
    </div>
    <div class="content">
      <div class="message-text">
        <p><b>O Evangelho Segundo O Espiritismo - Português</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="../documents/O Evangelho Segundo o Espiritismo/O Evangelho Segundo O Espiritismo - Português.pdf" class="download-link" download="Livro O Evangelho Segundo O Espiritismo - Português">Baixar Arquivo</a>

        <p><b>The gospel According to spiritism - English</b></p>
        <p><i>File Download</i></p>
        <p>Click on the link below to download the file:</p>
        <a href="../documents/O Evangelho Segundo o Espiritismo/O Evangelho Segundo O Espiritismo - Inglês.pdf" class="download-link" download="The gospel According to spiritism - English.pdf">File Download</a>

        <p><b> El evangelio según el espiritismo - Español</b></p>
        <p><i>Descarga de archivos</i></p>
        <p>Haga clic en el siguiente enlace para descargar el archivo:</p>
        <a href="../documents/O Evangelho Segundo o Espiritismo/O Evangelho Segundo O Espiritismo - Espanhol.pdf" class="download-link" download="El evangelio según el espiritismo - Español.pdf">Descarga de archivos</a>
      </div>
    </div>
  </div>
</div>



<!-- O Livro dos Espíritos -->
<h1 class="text-center">O Livro dos Espíritos</h1>
<div class="container">
  <div class="message">
    <div class="photo-container">
      <img src="../images/Obras Básicas/O Livro dos Espíritos/O Livro dos Espíritos - Português.png" alt="Capa O Livro dos Espíritos em Português.jpg">
      <img src="../images/Obras Básicas/O Livro dos Espíritos/O Livro dos Espiritos - Inglês.png" alt="Cover Book of Spirits in English">
      <img src="../images/Obras Básicas/O Livro dos Espíritos/O Livro dos Espiritos - Espanhol.png" alt="Portada Libro de Espíritus en Español">
    </div>
    <div class="content">
      <div class="message-text">
        <p><b>O Livro dos Espíritos - Português</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="../documents/O Livro dos Espíritos/O Livro dos Espíritos - Português.pdf" class="download-link" download="O Livro dos Espíritos - Português">Baixar Arquivo</a>

        <p><b>The Spirits' Book - English</b></p>
        <p><i>File Download</i></p>
        <p>Click on the link below to download the file:</p>
        <a href="../documents/O Livro dos Espíritos/The Spirits' Book - English.pdf" class="download-link" download="The Spirits' Book - English.pdf">File Download</a>

        <p><b> El libro de los espíritus - Español</b></p>
        <p><i>Descarga de archivos</i></p>
        <p>Haga clic en el siguiente enlace para descargar el archivo:</p>
        <a href="../documents/O Livro dos Espíritos/El Libro de los Espíritus - Español.pdf" class="download-link" download="El libro de los espíritus - Español.pdf">Descarga de archivos</a>
      </div>
    </div>
  </div>
</div>




<!-- A Gênese -->
<h1 class="text-center">A Gênese</h1>
<div class="container">
  <div class="message">
    <div class="photo-container">
      <img src="../images/Obras Básicas/A Gênese/A Gênese - Português.jpg" alt="Capa do Livro a Gênese em Português.jpg">
      <img src="../images/Obras Básicas/A Gênese/Genesis - English.png" alt="Cover of the book Genesis in English">
      <img src="../images/Obras Básicas/A Gênese/Génesis - Español.jpg" alt="Portada del libro Génesis - Español">
    </div>
    <div class="content">
      <div class="message-text">
        <p><b>A Gênese - Português</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="../documents/A Gênese/Livro A Gêneses - Português.pdf" class="download-link" download="Livro A Gêneses - Português">Baixar Arquivo</a>

        <p><b>The Genesis - English</b></p>
        <p><i>File Download</i></p>
        <p>Click on the link below to download the file:</p>
        <a href="../documents/A Gênese/Book Genesis - English.pdf" class="download-link" download="Book Genesis - English.pdf">File Download</a>

        <p><b> El Génesis - Español</b></p>
        <p><i>Descarga de archivos</i></p>
        <p>Haga clic en el siguiente enlace para descargar el archivo:</p>
        <a href="../documents/A Gênese/Libro Génesis - Español.pdf" class="download-link" download="Libro Génesis - Español.pdf - Español.pdf">Descarga de archivos</a>
      </div>
    </div>
  </div>
</div>


<!-- O Céu e o Inferno -->
<h1 class="text-center">O Céu e o Inferno</h1>
<div class="container">
  <div class="message">
    <div class="photo-container">
      <img src="../images/Obras Básicas/O Céu e o Inferno/O Céu e o Inferno - Português.jpg" alt="Capa Livro O Céu e o Inferno - Português.jpg">
      <img src="../images/Obras Básicas/O Céu e o Inferno/Heaven and Hell - English.jpeg" alt="Book Cover Heaven and Hell - English">
      <img src="../images/Obras Básicas/O Céu e o Inferno/El cielo y el infierno - Español.jpeg" alt="Portada del libro El cielo y el infierno - Español">
    </div>
    <div class="content">
      <div class="message-text">
        <p><b>O Céu e o Inferno - Português</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="../documents/O Céu e o Inferno/Livro O Céu e Inferno - Português.pdf" class="download-link" download="Livro O Céu e Inferno - Português">Baixar Arquivo</a>

        <p><b>Book - Heaven and Hell - English</b></p>
        <p><i>File Download</i></p>
        <p>Click on the link below to download the file:</p>
        <a href="../documents/O Céu e o Inferno/Heaven and Hell - English.pdf" class="download-link" download="Heaven and Hell - English.pdf">File Download</a>

        <p><b> Libro - El cielo y el infierno - Español</b></p>
        <p><i>Descarga de archivos</i></p>
        <p>Haga clic en el siguiente enlace para descargar el archivo:</p>
        <a href="../documents/O Céu e o Inferno/Libro El Cielo y el Infierno - Español.pdf" class="download-link" download="Libro Génesis - Español.pdf - Español.pdf">Descarga de archivos</a>
      </div>
    </div>
  </div>
</div>

<!-- O Livro do Médiuns -->
<h1 class="text-center">O Livro do Médiuns</h1>
<div class="container">
  <div class="message">
    <div class="photo-container">
      <img src="../images/Obras Básicas/O Livro do Médiuns/O Livro dos Médiuns - Português.jpg" alt="Capa O Livro dos Médiuns - Português.jpg">
      <img src="../images/Obras Básicas/O Livro do Médiuns/The Book of Mediums - English.jpg" alt="Cover The Book of Mediums - English">
      <img src="../images/Obras Básicas/O Livro do Médiuns/El Libro de los Médiums - Español.jpg" alt="Capa El Libro de los Médiums - Español.jpg">
    </div>
    <div class="content">
      <div class="message-text">
        <p><b>O Livro dos Médiuns - Português</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="Livro do Médiuns - PDF/O Livro dos Médiuns - Português.pdf" class="download-link" download="O Livro dos Médiuns - Português">Baixar Arquivo</a>

        <p><b>The Book of Mediums - English</b></p>
        <p><i>File Download</i></p>
        <p>Click on the link below to download the file:</p>
        <a href="Livro do Médiuns - PDF/The Book of Mediums - English.pdf" class="download-link" download="The Book of Mediums - English.pdf">File Download</a>

        <p><b> Libro - El cielo y el infierno - Español</b></p>
        <p><i>Descarga de archivos</i></p>
        <p>Haga clic en el siguiente enlace para descargar el archivo:</p>
        <a href="Livro do Médiuns - PDF/El Libro de los Médiums - Español.pdf" class="download-link" download="El Libro de los Médiums - Español.pdf">Descarga de archivos</a>
      </div>
    </div>
  </div>
</div>


<!-- Download de Palestras -->
<h1 class="text-center">Download de Palestras</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="message">
        <div class="photo-container">
          <!-- suas imagens aqui -->
        </div>
        <div class="content">
          <div class="message-text">
            <!-- conteúdo da primeira coluna aqui -->
            
<div class="container">
  <div class="message">
    
    <div class="content">
      <div class="message-text">
        <p><b>Palestra - A consciência da gratidão</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="../documents/Download de Palestras/A consciência da gratidão.pptx" class="download-link" download="A consciência da gratidão">Baixar Arquivo</a>

        <p><b>Palestra - Aceita a Vida</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="../documents/Download de Palestras/Aceita a Vida.pptx" class="download-link" download="Aceita a Vida">Baixar Arquivo</a>

        <p><b>Palestra - Causa atuais das aflições</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Click on the link below to download the file:</p>
        <a href="../documents/Download de Palestras/Causa atuais das aflições.pptx" class="download-link" download="Causa atuais das aflições">Baixar Arquivo</a>


        <p><b>Palestra - Convite a Coragem</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="../documents/Download de Palestras/Convite a Coragem.pptx" class="download-link" download="Convite a Coragem">Baixar Arquivo</a>

        
      </div>
    </div>
  </div>
</div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="message">
        <div class="photo-container">
          <!-- suas imagens aqui -->
        </div>
        <div class="content">
          <div class="message-text">
            <!-- conteúdo da segunda coluna aqui -->
            
<div class="container">
  <div class="message">
    
    <div class="content">
      <div class="message-text">
        <p><b>Palestra - Coragem da Fé</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="../documents/Download de Palestras/Coragem da Fé.pptx" class="download-link" download="Coragem da Fé">Baixar Arquivo</a>

        <p><b>Palestra - Deixai vir a mim as criancinha</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="../documents/Download de Palestras/Deixai vir a mim as criancinha.pptx" class="download-link" download="Deixai vir a mim as criancinhas">Baixar Arquivo</a>

        <p><b>Palestra - Melhor sofrer no bem</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Click on the link below to download the file:</p>
        <a href="../documents/Download de Palestras/Melhor sofrer no bem.pptx" class="download-link" download="Melhor sofrer no bem">Baixar Arquivo</a>


        <p><b>Palestra - Chamo-me Amor</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="../documents/Download de Palestras/Palestra - Chamo-me Amor.pptx" class="download-link" download="Chamo-me Amor">Baixar Arquivo</a>

        
      </div>
    </div>
  </div>
</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="message">
        <div class="photo-container">
          <!-- suas imagens aqui -->
        </div>
        <div class="content">
          <div class="message-text">
            <!-- conteúdo da terceira coluna aqui -->
            
<div class="container">
  <div class="message">
    
    <div class="content">
      <div class="message-text">
        <p><b>Palestra - Cristo em Casa</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="../documents/Download de Palestras/Palestra - Cristo em Casa 1.pptx" class="download-link" download="Cristo em Casa">Baixar Arquivo</a>

        <p><b>Palestra - O caminho</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="../documents/Download de Palestras/Palestra - O caminho 1.pptx" class="download-link" download="O caminho">Baixar Arquivo</a>

        <p><b>Palestra - O Divórcio</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Click on the link below to download the file:</p>
        <a href="../documents/Download de Palestras/Palestra - O Divórcio.pptx" class="download-link" download="O Divórcio">Baixar Arquivo</a>


        <p><b>Palestra - O mal e o remédio</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="../documents/Download de Palestras/Palestra - O mal e o remédio.pptx" class="download-link" download="O mal e o remédio">Baixar Arquivo</a>

        
      </div>
    </div>
  </div>
</div>
    </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Download de Palestras -->
<h1 class="text-center">Download de Palestras</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="message">
        <div class="photo-container">
          <!-- suas imagens aqui -->
        </div>
        <div class="content">
          <div class="message-text">
            <!-- conteúdo da primeira coluna aqui -->
            
<div class="container">
  <div class="message">
    
    <div class="content">
      <div class="message-text">
        <p><b>Palestra - Objetivo da Fé</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="../documents/Download de Palestras/Palestra - Objetivo da Fé.pptx" class="download-link" download="Objetivo da Fé">Baixar Arquivo</a>

        <p><b>Palestra - Oração Dominical</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="../documents/Download de Palestras/Palestra - Oração Dominical.pptx" class="download-link" download="Oração Dominical">Baixar Arquivo</a>

        <p><b>Palestra - Os inimigos Desencarnados</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Click on the link below to download the file:</p>
        <a href="../documents/Download de Palestras/Palestra - Os inimigos Desencarnados.pptx" class="download-link" download="Os inimigos Desencarnados">Baixar Arquivo</a>


        <p><b>Palestra - Quem era Jesus</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="../documents/Download de Palestras/Palestra - Quem era Jesus.pptx" class="download-link" download="Quem era Jesus">Baixar Arquivo</a>

        
      </div>
    </div>
  </div>
</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="message">
        <div class="photo-container">
          <!-- suas imagens aqui -->
        </div>
        <div class="content">
          <div class="message-text">
            <!-- conteúdo da segunda coluna aqui -->
            
<div class="container">
  <div class="message">
    
    <div class="content">
      <div class="message-text">
        <p><b>Palestra - Recurso Da Oração</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="../documents/Download de Palestras/Palestra - Recurso Da Oração.pptx" class="download-link" download="Recurso Da Oração">Baixar Arquivo</a>

        <p><b>Palestra - Perdoa-te</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="../documents/Download de Palestras/Perdoa-te.pptx" class="download-link" download="Perdoa-te">Baixar Arquivo</a>

        <p><b>Palestra - Precursores do Cristo</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Click on the link below to download the file:</p>
        <a href="../documents/Download de Palestras/Precursores do Cristo 1.pptx" class="download-link" download="Precursores do Cristo">Baixar Arquivo</a>


        <p><b>Palestra - Teu óbolo</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="../documents/Download de Palestras/Teu óbolo.pptx" class="download-link" download="Teu óbolo">Baixar Arquivo</a>

        
      </div>
    </div>
  </div>
</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="message">
        <div class="photo-container">
          <!-- suas imagens aqui -->
        </div>
        <div class="content">
          <div class="message-text">
            <!-- conteúdo da terceira coluna aqui -->
            
<div class="container">
  <div class="message">
    
    <div class="content">
      <div class="message-text">
        <p><b>Palestra - A Outra Face</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="/documents/Download de Palestras/A Outra Face.pptx" class="download-link" download="A Outra Face">Baixar Arquivo</a>

        <p><b>Palestra - Educação dos Sentimentos</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="/documents/Download de Palestras/Educação dos Sentimentos.pptx" class="download-link" download="Educação dos Sentimentos">Baixar Arquivo</a>

        <p><b>Palestra - Suícidio, Fuga Desastrosa</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Click on the link below to download the file:</p>
        <a href="../documents/Download de Palestras/Suícidio, Fuga Desastrosa.pptx" class="download-link" download="Suícidio, Fuga Desastrosa">Baixar Arquivo</a>


        <p><b>Diversas Palestra Solar de Jesus</b></p>
        <p><i>Download do Arquivo</i></p>
        <p>Clique no link abaixo para baixar o arquivo:</p>
        <a href="../documents/Download de Palestras/Diversas Palestra Solar de Jesus.rar" class="download-link" download="Diversas Palestra Solar de Jesus">Baixar Arquivo</a>

        
      </div>
    </div>
  </div>
</div>
    </div>
        </div>
      </div>
    </div>
  </div>
</div>
 
  <!-- Footer -->
  <!-- Footer -->
<footer class="bg-orange text-light p-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Informações de Contato</h4>
        
        <p class="mb-0">2024 ©Instituição Espírita de Caridade Solar de Jesus. Todos os direitos reservados.</p>
        <p class="mb-0">Email: instituicaoespiritasolardejesus@gmail.com</p>
        <p class="mb-0">Telefone: (38) 3214-2878</p>
        <p class="mb-0">Alfredo Lorenço: (38) 99979-9996 </p>
        <p class="mb-0">Cláudio Mendes: (38) 99166-0454</p>
        <p class="mb-0">Endereço: Av. Leonel Beirão de Jesus, 1555, Bairro: Sumaré</p>
        <p class="mb-0">CEP: 39402-547 - Montes Claros - Minas Gerais/BR</p>
        <p class="mb-0">CPNJ 21.355.599/0001-56</p>
      </div>

      <!-- Links Úteis Vazio -->
      <div class="col-md-4">
        <h4></h4>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light"></a></li>
          <li><a href="#" class="text-light"></a></li>
          <li><a href="#" class="text-light"></a></li>
        </ul>
      </div>
      <!-- Fim -->

      <div class="col-md-4">
        <h4>Conecte-se Conosco</h4>
        <ul class="list-unstyled">
          <li><a href="https://www.facebook.com/solardejesus" class="text-light">Facebook</a></li>
          <!-- <li><a href="#" class="text-light">Twitter</a></li> -->
          <li><a href="https://www.instagram.com/voluntariasdaalegria1" class="text-light">Instagram</a></li>
        </ul>
        <!-- Espaço para Logomarca -->
        <div class="mt-3">
          <img src="../images/Logomarca/Logomarca.jpg" alt="Logomarca Instituição Espírita de Caridade Solar de Jesus" class="img-fluid  logomarca">
        </div>
      </div>
    </div>
  </div>
</footer>

  
  
  <!-- Fim - Footer -->

</body>
</html>
